<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Deadmau5 About</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
             <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About <span class="sr-only">(Página atual)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/works">Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="/photoGallery">Photo Gallery</a>
            </li>
          </ul>
        </div>
      </nav>

      <h1>About Deadmau5</h1>
      <h3></h3>

      <p>Deadmau5, nome artístico de Joel Thomas Zimmerman (Niagara Falls, 5 de janeiro de 1981) é um produtor musical canadense, conhecido por suas composições de house progressivo. 
          Seu nome é pronunciado como Dead Mouse. Zimmerman produz uma variedade de estilos dentro do gênero de House e algumas vezes outras formas de música eletrônica. 
          Suas músicas foram incluídas em vários álbuns de compilação como o CD de 2007 In Search of Sunrise 6: Ibiza. 
          A edição de Fevereiro de 2008 da revista de música MixMag incluiu um CD grátis onde estava escrito MixMag Apresenta: O nome mais quente do Dance! DEADMAU5 Loucura do Tech-Trance-Electro, mixado por Zimmerman. 
          Músicas também foram incluídas e apresentadas no show de rádio A State of Trance de Armin Van Buuren. Seu álbum de estréia, Get Scraped, foi divulgado em 2005, seguido por outros nos anos seguintes. 
          Além de seus releases solos, Zimmerman trabalhou ao lado de outros Djs e produtores, como Kaskade, MC Flipside, Rob Swire de Knife Party e Pendulum, Wolfgang Gartner, Bighorse, e em muitos releases, Zimmerman teve participações com Melleefresh. 
          A data de divulgação atualmente é desconhecida, porém um breve single de 12 segundos produzido no Vinyl intitulado "I don't Wante No Other" foi divulgado por Joel Zimmerman sob o pseudônimo "Dred and Karma". 
          O álbum de 2006 como nome de Deadmau5 Circa 1998-2002 foi lançado com o pseudônimo de "Halcyon441" e a colaboração com Joel Zimmerman e Steve Duda sob o pseudônimo de "BSOD" (sigla para "Better Sounding on Drugs")</p>



</body>
</html>